{%extends 'blog/base.html'%}
{%block content%}
{% load static %}



<div class="container">
  <h1>About page</h1>
  <img src="{%static 'img/sanjay.jpg'%}" class="rounded-circle" alt="Cinque Terre" width="304" height="236">
</div>

<div >
  <h2>Blog Page</h2>
  <h5>Title description, Apr 14, 2019</h5>
  Hii all this is my first blog page which i had created by using a django,html5,cssand javascript <br>
    <h4>About webpage</h4>
    <br>in this webpage a user can see the post which posted by the other user <br>

    so if you like this page or have any suggestion feel free to give

  <br>

</div>
{%endblock%}
